<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div class="hm-container">
	<h1 class="hm-title">ChatCAT</h1>
	<a href="/auth/facebook"><img src="../images/login_with_facebook.png"></a>
</div>

<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '1079122775432113',
			xfbml      : true,
			version    : 'v2.4'
		});
	};

	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>